{% extends 'blog_layout.html' %}
{% load bootstrap3 %}

{% block page_title %}글 목록{% endblock %}

{% block body %}
<div style="padding: 20px 50px 20px 50px" class"conteiner-fluid">
{% for post in posts %}
    <div class="container">
        <div align="left" class="post_container">
            <h3 class="post_title"><a href="{% url 'blog:view_post' post.pk %}">{{ post.title }}</a></h3>
            
            <div>
                <p><span>카테고리: </span>{{ post.category.name }}</p>
                <p><span>작성일시: </span>{{ post.created_at }}</p>
            </div>

            <div class="post_content">{{ post.content }}</div>
            <hr>

        </div>
    </div>
{% empty %}
    <p>글이 하나도 없습니다.</p>
{% endfor %}
    
    <div align="center">
    {% bootstrap_pagination posts %} <br />
    <form method="GET" action="{% url 'blog:create_post' %}" class="form-horizontal">
        {% csrf_token %}

        {{ form.as_p }}

        <p>
            {% bootstrap_button "글쓰기" button_type="submit" button_class="btn-primary" %}
        </p>
    </div>

{% endblock %}