{% extends 'blog_layout.html' %}

{% block page_title %}글 보기{{ post.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="post_title">{{ post.title }}</h3>

        <div>
            <p><span>카테고리: </span>{{ post.category.name }}</p>
            <p><span>작성일시: </span>{{ post.created_at }}</p>
        </div>

        <hr>
        <div style="padding: 20px 0px 30px 0px" class="post_content">{{ post.content }}</div>
        <hr>

    </div>
    <div class="container">
    {% with comments=post.comment_set.all %}
        {% include 'comment_list.html' %}
    {% endwith %}
    </div>

    <div class="container">
        <p style="text-align:right;"><a href="{% url 'blog:edit_post' post.pk %}">수정 |</a> <a href="{% url 'blog:delete_post' post.pk %}">삭제 |</a> <a href="{% url 'blog:list_posts' %}">목록</a> 
    </div>
{% endblock %}
