{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>{% block page_title %}BLOG{% endblock %}</title>
	{% bootstrap_css %}
	{% bootstrap_javascript %}
</head>

<body>
    <div style="padding: 20px 50px 0px 0px" align="right" class="row col-sm-12">
    {% if user.is_authenticated %}
    <p>{{ user.username }} | <a href="{% url 'logout_user' %}">로그아웃</a></p>
    {% else %}
    <p><a href="{% url 'login_user' %}">로그인</a> | <a href="{% url 'create_user' %}">회원가입</a></p>
    {% endif %}
    </div>
<div style="padding: 50px 0px 50px 0px" align="center" class="container">
    <a href="{% url 'blog:list_posts' %}">
			<h1>BLOG!</h1>
		</a>
		<p><h3>while(! (succeed = try() ) );</h3></p>
	</div>
	<hr>
	{% block content %}

	{% endblock %}

</body>

</html>